.video-row {
  display: flex;
  margin-bottom: 30px;
  max-width: 700px;
}

.video-row > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}

.text {
  margin-left: 14px;
}

.headline {
  font-size: 12px;
  color: #606060;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  color: #606060;
}

.subs-number {
  font-weight: bolder;
  color: rgb(84, 157, 211);
}

.subs {
  background-color: lightgray;
  padding: 2px;
}
